<!DOCTYPE html>
<html lang="zxx">
    <head>
        <title>MyTherapy</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/themify-icons.css">
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/css/flaticon.css">
        <link rel="stylesheet" href="/css/gijgo.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/slicknav.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/mytherapy.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <!-- JS -->
        <!-- Firebase Packages-->
        <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>    
    </head>

    <body>
        <!-- Header section end -->
        <%- include('../partials/header.ejs') %>

        <br>

        <%- body %> 

        <%- include('../partials/footer.ejs') %>
    <!-- link that opens popup -->

    <!-- Login Form-->
    <form id="login-form" class="white-popup-block mfp-hide modal-form">
        <div class="popup_box ">
            <div class="popup_inner">
                <%- include('../partials/auth/login-form.ejs') %> 
            </div>
        </div>
    </form>
    <!-- Login Form end -->

    <!-- Registration Form -->
    <form id="register-form" class="white-popup-block mfp-hide modal-form">
        <div class="popup_box ">
            <div class="popup_inner">
                <%- include('../partials/auth/register-form.ejs') %>
            </div>
        </div>
    </form>
    <!-- Registration Form end -->

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/imported/popper.min.js"></script>
    <script src="js/imported/bootstrap.min.js"></script>
    <script src="js/imported/owl.carousel.min.js"></script>
    <script src="js/imported/isotope.pkgd.min.js"></script>
    <script src="js/imported/ajax-form.js"></script>
    <script src="js/imported/waypoints.min.js"></script>
    <script src="js/imported/jquery.counterup.min.js"></script>
    <script src="js/imported/imagesloaded.pkgd.min.js"></script>
    <script src="js/imported/scrollIt.js"></script>
    <script src="js/imported/jquery.scrollUp.min.js"></script>
    <script src="js/imported/wow.min.js"></script>
    <script src="js/imported/nice-select.min.js"></script>
    <script src="js/imported/jquery.slicknav.min.js"></script>
    <script src="js/imported/jquery.magnific-popup.min.js"></script>
    <script src="js/imported/plugins.js"></script>
    <script src="js/imported/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/imported/jquery.ajaxchimp.min.js"></script>
    <script src="js/imported/jquery.form.js"></script>
    <script src="js/imported/jquery.validate.min.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-functions.js"></script>

    <script>
        //Validate password fields
        //Triggers on keyup (user stops typing) 
        $('#reg-password,#conf-password').on('keyup', function(){

            //IF passwords match, present message informing user
            if($('#reg-password').val() == $('#conf-password').val())
            {
                $('#warn-mismatch').html("Passwords match").css("color",'green');
            }

            //Else tell them no match
            else{
                $('#warn-mismatch').html("Passwords don't match").css("color",'red');
            }
        })

        //Firebase and auth set up
        var firebaseConfig = {
   		    apiKey: "AIzaSyA0gpT-psrA1oaXFmp6V4snnjWsg4xIx8w",
    	    authDomain: "mytherapy-8776f.firebaseapp.com",
    	    databaseURL: "https://mytherapy-8776f.firebaseio.com",
    	    projectId: "mytherapy-8776f",
    	    //storageBucket: "mytherapy-8776f.appspot.com",
    	    //messagingSenderId: "976009179852",
    	    appId: "1:976009179852:web:dec8630a2c7782e2f5c869",
    	    //measurementId: "G-RT4VGFYJZH"
	    };
  
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);

		//Make auth and firebase references
		const auth = firebase.auth();
		const db = firebase.firestore();
		const functions = firebase.functions();

		//Update firestore settings
		db.settings({
    		timestampsInSnapshots: true
		});

    </script>

    <script src="js/auth.js"></script>
    <script src="js/imported/main.js"></script>
    <script src="js/menu.js"></script>

    </body>
</html>